@{
    ViewData["Title"] = "AboutUs";
}
<style>
   body{
       background-color:antiquewhite;
   }
    
    h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
    img, p {
       
        width:40%;
        margin:0 30%;
        
    }
    h2 {
        margin:0 30%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>

<body>
    <h1>Welcome to the Cookie World</h1>
    <br />
    <p>
        Nothing brings families together like baking, so long as it doesn't end in a fight over who gets to lick the spoon.
        Cookies make great gifts, and the heavenly smell they leave in the kitchen is certainly a perk.
        They come in a wide range of flavors, shapes, and textures, and vary based on where you are in the world.
        Does Not Matter what time is it, where ever you are..  just make your mood heavenly.
    </p>
    <img id="1" src="~/Image/Background.webp" />

    <br />
    <br />

    <h2>
        1.  Snickerdoodles
    </h2>
    <br />
    <br />
    <img src="~/Image/1.webp" />
    <br />
    <p>
        Although the origin of this beloved cookie is up for debate, there's no doubt it's a favorite during the holidays.
        Snickerdoodles are a type of drop cookie (any cookie that is formed by dropping spoonfuls of dough directly onto a baking sheet)
        that is coated in cinnamon and sugar. They can be crisp or soft, with a slightly cracked surface.
    </p>

    <br />
    <br />

    <h2>
        2.  Chocolate Chip Cookies
    </h2>
    <br />
    <br />
    <img src="~/Image/2.webp" />
    <br />
    <p>
        Among the most popular of all cookie types, the chocolate chip cookie's invention was a happy accident. In 1930, Ruth Graves Wakefield, who ran the Toll House Inn in Whitman, Massachusetts, ran out of baker's chocolate and substituted for it with pieces of Nestle's® semi-sweet chocolate. The rest is history. Chocolate chip cookies are drop cookies that can be soft and doughy or crisp and crunchy depending on how long you cook them or what ingredients you use.
    </p>

    <br />
    <br />

    <h2>
        3.  Oatmeal Raisin Cookies
    </h2>
    <br />
    <br />
    <img src="~/Image/3.webp" />
    <br />
    <p>
        A seriously underrated cookie, oatmeal raisin is another type of drop cookie. Its dough is oatmeal based and contains raisins and brown sugar. They're warm and comforting — a reminder of simpler times and grandma's house.
    </p>



</body>