@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cookie Jars</h1>
    <p>Learn about <a asp-area="" asp-controller="Cookies" asp-action="Index">Cookies</a>.</p>
</div>
